<!-- HEADER -->
<header id="header" class="tra-menu navbar-dark">
	<div class="header-wrapper">

		<!-- MOBILE HEADER -->
		<div class="wsmobileheader clearfix">	  	
			<span class="smllogo">
				<a href="#hero"><img src="assets/images/logoRussiaVille.png" alt="mobile-logo"></a>
			</span>
			<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	
		</div>

		<!-- NAVIGATION MENU -->
		<div class="wsmainfull menu clearfix">
			<div class="wsmainwp clearfix">

				<!-- HEADER BLACK LOGO -->
				<div class="desktoplogo">
					<a href="#hero" class="logo-black"><img src="assets/images/logoRussiaVille.png" alt="logo"></a>
				</div>

				<!-- HEADER WHITE LOGO -->
				<div class="desktoplogo">
					<a href="#hero" class="logo-white"><img src="assets/images/logo_white.png" alt="logo"></a>
				</div>

				<!-- MAIN MENU -->
				<nav class="wsmenu clearfix">
					<ul class="wsmenu-list nav-theme">

						<!-- ACCUEIL -->
						<li class="nl-simple" aria-haspopup="true">
							<a href="/" class="h-link">Accueil</a>
						</li>

						<!-- SERVICES -->
						<li class="nl-simple" aria-haspopup="true">
							<a href="/tarifs" class="h-link">Tarif</a>
						</li>

						<!-- BLOGS -->
						<li class="nl-simple" aria-haspopup="true">
							<a href="/a-propos-de-nous" class="h-link">À propos de nous</a>
						</li>

						<!-- CONTACTEZ-NOUS -->
						<li class="nl-simple" aria-haspopup="true">
							<a href="/contactez-nous" class="h-link">Contactez-nous</a>
						</li>

						<!-- PHOTOS -->
						<li class="nl-simple" aria-haspopup="true">
							<a href="/photos" class="h-link">Photos</a>
						</li>

						<!-- À PROPOS DE NOUS -->
<!-- 						<li class="nl-simple" aria-haspopup="true">
							<a href="about.html" class="h-link">À propos de nous</a>
						</li> -->

						<!-- BOUTON RÉSERVER -->
						<li class="nl-simple mobile-last-link m-left" aria-haspopup="true">
							<a href="https://dikidi.net/1891924" class="btn r-0 btn--theme last-link">
								<span class="btn-txt" >
									<span class="anim-txt" style="font-family: 'Quicksand' !important;">Réserver</span>
									<span class="anim-txt" style="font-family: 'Quicksand' !important;">Réserver</span>  
								</span>
							</a>
						</li>  

					</ul>
				</nav>	<!-- END MAIN MENU -->

			</div>
		</div>	<!-- END NAVIGATION MENU -->

	</div>     <!-- End header-wrapper -->
</header>	<!-- END HEADER -->
