<!-- HEADER -->
<header id="header" class="tra-menu navbar-dark">
	<div class="header-wrapper">

		<!-- MOBILE HEADER -->
		<div class="wsmobileheader clearfix">
			<span class="smllogo">
				<a href="#hero"><img src="assets/images/logoRussiaVille.png" alt="mobile-logo"></a>
			</span>
			<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
		</div>

		<!-- NAVIGATION MENU -->
		<div class="wsmainfull menu clearfix">
			<div class="wsmainwp clearfix">

				<!-- HEADER BLACK LOGO -->
				<div class="desktoplogo">
					<a href="#hero" class="logo-black"><img src="assets/images/logoRussiaVille.png" alt="logo"></a>
				</div>

				<!-- HEADER WHITE LOGO -->
				<div class="desktoplogo">
					<a href="#hero" class="logo-white"><img src="assets/images/logo_white.png" alt="logo"></a>
				</div>

				<!-- MAIN MENU -->
				<nav class="wsmenu clearfix">
					<ul class="wsmenu-list nav-theme">

						<!-- ACCUEIL -->
						<li class="nl-simple" aria-haspopup="true">
							<a href="/" class="h-link">Accueil</a>
						</li>

						<!-- Prestations -->
						<li class="nl-simple" aria-haspopup="true" (mouseenter)="showMenu('cils')"
							(mouseleave)="hideMenu('cils')">
							<div class="linkPlusIcon">
								<a href="/extension-de-cils-marrakech" class="h-link">Cils</a>
								<span class="flaticon-arrow-down"
									(click)="toggleMenu('cils'); $event.stopPropagation()">&#8595;</span>
							</div>

							<ul class="subLinks" [class.open]="isCilsOpen">
								<li><a href="extension/cil-à-cil-a-marrakech">Extension de cil à cil</a></li>
								<li><a href="extension/lamination-cils-marrakech">Lamination de cil</a></li>
								<li><a href="extension/depose-extensions-cils-a-marrakech">Depose d'extension cils</a>
								</li>
								<li><a href="extension/coloration-cils-marrakech">Coloration cils</a></li>
								<li><a href="extension/extensions-de-cils-volume-naturel-marrakech">Volume naturel</a>
								</li>
								<li><a href="extension/extension-de-cils-mega-volume-marrakech">Volume mega</a></li>
								<li><a href="extension/extensions-de-cils-volume-3d-marrakech">Volume 3D</a></li>
								<li><a href="extension/remplissage-extensions-cils-a-marrakech">Remplissage</a></li>
							</ul>
						</li>

						<li class="nl-simple" aria-haspopup="true" (mouseenter)="showMenu('sourcils')"
							(mouseleave)="hideMenu('sourcils')">
							<div class="linkPlusIcon">
								<a href="/sourcils-marrakech" class="h-link"
									(click)="toggleMenu('sourcils')">Sourcils</a>
								<span class="flaticon-arrow-down"
									(click)="toggleMenu('sourcils'); $event.stopPropagation()">&#8595;</span>
							</div>
							<ul class="subLinks" [class.open]="isSourcilsOpen">
								<li><a href="sourcils/brow-lamination-marrakech">Brow lamination</a></li>
								<li><a href="sourcils/restruction-sourcils-marrakech">Restruction de sourcils</a></li>
								<li><a href="sourcils/teintre-sourcils-marrakech">Teintre sourcils</a></li>
								<li><a href="sourcils/epilation-de-sourcils-marrakech">Epilation de sourcils</a></li>
							</ul>
						</li>

						<li class="nl-simple" aria-haspopup="true" (mouseenter)="showMenu('ongles')"
							(mouseleave)="hideMenu('ongles')">
							<div class="linkPlusIcon">
								<a href="/ongles-marrakech" class="h-link" (click)="toggleMenu('ongles')">Ongles</a>
								<span class="flaticon-arrow-down"
									(click)="toggleMenu('ongles'); $event.stopPropagation()">&#8595;</span>
							</div>
							<ul class="subLinks" [class.open]="isOnglesOpen">
								<li><a href="ongles/manucure-semi-permanente-marrakech">Manucure semi permanant</a></li>
								<li><a href="ongles/extensions-ongles-gel-marrakech">Extension d'ongles</a></li>
								<li><a href="ongles/depose-ongles-marrakech">Depose d'ongles</a></li>
								<li><a href="ongles/pedicure-gel-marrakech">Pedicure gel </a></li>
								<li><a href="ongles/art-et-design-ongles-marrakech">Art et design d'ongles</a></li>
							</ul>
						</li>

						<!-- CONTACTEZ-NOUS -->
						<li class="nl-simple" aria-haspopup="true">
							<a href="/contactez-nous" class="h-link">Contactez-nous</a>
						</li>

						<!-- SERVICES -->
						<li class="nl-simple" aria-haspopup="true">
							<a href="/tarifs" class="h-link">Tarif</a>
						</li>

						<!-- PHOTOS
						<li class="nl-simple" aria-haspopup="true">
							<a href="/photos" class="h-link">Photos</a>
						</li>
						-->

						<!-- À PROPOS DE NOUS -->

						<!-- 						
							<li class="nl-simple" aria-haspopup="true">
								<a href="about.html" class="h-link">À propos de nous</a>
							</li> 
						-->

						<!-- BOUTON RÉSERVER -->
						<li class="nl-simple mobile-last-link m-left" aria-haspopup="true">
							<a href="https://dikidi.net/1891924" class="btn r-0 btn--theme last-link">
								<span class="btn-txt">
									<span class="anim-txt" style="font-family: 'Quicksand' !important;">Réserver</span>
									<span class="anim-txt" style="font-family: 'Quicksand' !important;">Réserver</span>
								</span>
							</a>
						</li>

					</ul>
				</nav> <!-- END MAIN MENU -->

			</div>
		</div> <!-- END NAVIGATION MENU -->

	</div> <!-- End header-wrapper -->
</header> <!-- END HEADER -->