			<!-- PIED DE PAGE
			============================================= -->
			<footer class="pt-100 footer-6 footer division" style=" font-family: 'Quicksand' !important;">
				<div class="container">

					<!-- CONTENU DU PIED DE PAGE -->
					<div class="row">

						<!-- SECTION LOGO -->
						<div class="col-md-2 d-flex align-items-center mb-4 mb-md-0">
							<a href="/">
								<img src="assets/images/logoRussiaVille.png" alt="Russiaville Beauty Logo" class="img-fluid russia" style="max-height: 80px;">
							</a>
						</div>
						<!-- FIN SECTION LOGO -->

						<!-- FORMULAIRE NEWSLETTER DU PIED DE PAGE -->
						<div class="col-sm-10 col-md-6 col-lg-4">
							<div class="footer-form">

								<!-- Titre -->
								<h5 class="fs-19">Restez informé</h5>

								<!-- Texte -->
								<p class="fs-15">Abonnez-vous et obtenez 10% de réduction sur votre première commande en ligne ! Restez à jour avec nos actualités et dernières offres !
								</p>

								<!-- Champ du formulaire newsletter -->
								<form class="newsletter-form r-0">
									<div class="input-group">
										<input type="email" class="form-control" placeholder="Adresse e-mail" required id="s-email" autocomplete="off">								
										<span class="input-group-btn">
											<button type="submit" class="btn r-0 btn--theme">
												<span class="btn-txt">
													<span class="anim-txt">S'abonner</span>
													<span class="anim-txt">S'abonner</span>  
												</span>
											</button>
										</span>
									</div>

									<!-- Notification du formulaire newsletter -->		
									<label for="s-email" class="form-notification"></label>
								</form>
							</div>
						</div>	<!-- FIN FORMULAIRE NEWSLETTER -->	

						<!-- LIENS DU PIED DE PAGE -->
						<div class="col-lg-6">
							<div class="footer-6-links">
								<div class="row">

									<!-- LIENS DU PIED DE PAGE -->
									<div class="col-sm-6 col-md-6">
										<div class="fl-1 foo-links">
											<!-- Titre -->
											<h5 class="fs-19">Navigation</h5>

											<!-- Liens -->
											<ul class="foo-links clearfix">
												<li><p><a href="/">Accueil</a></p></li>
												<li><p><a href="/tarifs">Tarif</a></p></li>
												<li><p><a href="/contactez-nous">Contact</a></p></li>
												<li><p><a href="/photos">Photo</a></p></li>
												<li><p><a href="/a-propos-de-nous">À propos de nous</a></p></li>
											</ul>
										</div>	
									</div>				<!-- LIENS DU PIED DE PAGE -->
									<div class="col-sm-6 col-md-6">
										<div class="fl-3 footer-contacts">
											<!-- Titre -->
											<h5 class="fs-19">Contacts</h5>

											<!-- Adresse -->
											<p class="mb-10">Avenue Yaacoub Almansour centre d'affaire Sara Guéliz, 5<sup>e</sup> étage porte 25, Marrakech</p>

											<!-- Téléphone -->
											<p class="footer-phone"><a href="tel:123456789">Tél : +212 6 57 57 07 77</a></p>

											<!-- Email -->
											<p class="footer-email"><a href="mailto:russiavillebeautyn@gmail.com">contact&#64;russiavillebeauty.ma</a></p>
										</div>
									</div>

								</div>
							</div>
						</div>	<!-- FIN LIENS DU PIED DE PAGE -->

					</div>	  <!-- FIN CONTENU DU PIED DE PAGE -->

					<hr>	<!-- LIGNE DE SÉPARATION DU PIED DE PAGE -->

					<!-- BAS DU PIED DE PAGE -->
					<div class="bottom-footer">
						<div class="row d-flex align-items-center">

							<!-- COPYRIGHT -->
							<div class="col-md-5">
								<div class="footer-copyright"><p>&copy; 2025 Russiaville Beauty . Tous droits réservés</p></div>
							</div>

							<!-- LIENS DU BAS DE PAGE -->
							<div class="col-md-7">
								<ul class="bottom-footer-list ico-10 text-end clearfix">
									<li><p><a href="#">Politique de confidentialité</a></p></li>
									<li><p><a href="#">Conditions générales</a></p></li>
								</ul>
							</div>

						</div>  <!-- Fin row -->
					</div>	<!-- BAS DU PIED DE PAGE -->

				</div>	   <!-- Fin container -->										
			</footer>	
			
			<!-- FIN PIED DE PAGE -->
