.accordion {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.accordion-header {
  width: 100%;
  background: #f7f7f7;
  border: none;
  padding: 16px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-body {
  max-height: 0;
  overflow-x: hidden;
  transition: max-height 0.35s ease, padding 0.3s ease;
  background: white;
  padding: 0 16px;
  text-align: start;
  font-family: 'Antan Angella';
}

.accordion-body li {
  font-family: 'Quicksand';
}