<section class="pt-110 about-2 about-section division">
  <div class="container">
    <div class="row justify-content-center">	
      <div class="col-md-10 col-lg-10">
        <div class="txt-block text-center">	

          <!-- Module Subtitle -->
          <span class="module-subtitle color--theme" style="font-size: large;">{{ data.subtitle }}</span>

          <!-- Text -->
          <h6 class="fs-24">{{ data.description }}</h6>

        </div>	
      </div>
    </div>    <!-- End row -->	
  </div>	   <!-- End container -->	
</section>
